<% template=name=> { %>
    <%- include(`../templates/${name}`) %>
        <% } %>
            <!doctype html>
            <html class="h-full bg-gray-100">

            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <script src="https://cdn.tailwindcss.com"></script>
            </head>

            <body class="h-full">
                <div class="min-h-full">
                    <% template('nav') %>
                        <main class="bg-white mt-4 py-8 px-6">
                            <form method="post" action="/match" enctype="multipart/form-data">
                                <div class="space-y-12">
                                    <div>
                                        <h1 class="font-semibold text-gray-900">Create New Match</h1>
                                    </div>
                                    <div>
                                        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                                            <div class="sm:col-span-4">
                                                <label for="email"
                                                    class="block text-sm font-medium leading-6 text-gray-900">Cover
                                                    Photo</label>
                                                <div class="mt-2">
                                                    <input value="" name="coverPhoto" type="file"
                                                        class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                </div>
                                            </div>
                                            <div class="sm:col-span-3">
                                                <label for="first-name"
                                                    class="block text-sm font-medium leading-6 text-gray-900">Category</label>
                                                <div class="mt-2">
                                                    <select required name="category"
                                                        class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                        <option value="Battlegrounds India">Battlegrounds India</option>
                                                        <option value="Free Fire MAX">Free
                                                            Fire MAX</option>
                                                        <option value="Mega Contest">Mega
                                                            Contest</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="sm:col-span-3">
                                                <label for="last-name"
                                                    class="block text-sm font-medium leading-6 text-gray-900">Sub
                                                    Category</label>
                                                <div class="mt-2">
                                                    <select required name="subCategory"
                                                        class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                        <option value="Classic - BGMI">Classic - BGMI</option>
                                                        <option value="Classic - Free Fire">Classic - Free Fire</option>
                                                        <option value="Mini">Mini
                                                        </option>
                                                        <option value="TDM">TDM</option>
                                                        <option value="Sniper TDM">Sniper TDM</option>
                                                        <option value="Clash Squad">Clash Squad</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="sm:col-span-4">
                                                <label for="email"
                                                    class="block text-sm font-medium leading-6 text-gray-900">Team
                                                    Type</label>
                                                <div class="mt-2">
                                                    <input value="" required name="teamType" type="text"
                                                        class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                </div>
                                            </div>

                                            <div class="sm:col-span-2 sm:col-start-1">
                                                <label for="city"
                                                    class="block text-sm font-medium leading-6 text-gray-900">Prize
                                                    Pool</label>
                                                <div class="mt-2">
                                                    <input value="" type="text" name="prizePool"
                                                        class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                </div>
                                            </div>

                                            <div class="sm:col-span-2">
                                                <label for="region"
                                                    class="block text-sm font-medium leading-6 text-gray-900">Per
                                                    Kill</label>
                                                <div class="mt-2">
                                                    <input value="" required type="text" name="perKill"
                                                        class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                </div>
                                            </div>

                                            <div class="sm:col-span-2">
                                                <label for="postal-code"
                                                    class="block text-sm font-medium leading-6 text-gray-900">Entry
                                                    Fee</label>
                                                <div class="mt-2">
                                                    <input value="" required type="text" name="entryFee"
                                                        class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                </div>
                                            </div>

                                            <div class="sm:col-span-3">
                                                <label for="first-name"
                                                    class="block text-sm font-medium leading-6 text-gray-900">Date</label>
                                                <div class="mt-2">
                                                    <input value="" required type="date" name="dated"
                                                        class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                </div>
                                            </div>

                                            <div class="sm:col-span-3">
                                                <label for="last-name"
                                                    class="block text-sm font-medium leading-6 text-gray-900">Time</label>
                                                <div class="mt-2">
                                                    <input value="" required type="time" name="time"
                                                        class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                </div>
                                            </div>
                                            <div class="sm:col-span-3">
                                                <label for="first-name"
                                                    class="block text-sm font-medium leading-6 text-gray-900">Total
                                                    Spots</label>
                                                <div class="mt-2">
                                                    <input value="" required type="number" name="totalSpots"
                                                        class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                </div>
                                            </div>

                                            <div class="sm:col-span-3">
                                                <label for="last-name"
                                                    class="block text-sm font-medium leading-6 text-gray-900">Spectate
                                                    Link</label>
                                                <div class="mt-2">
                                                    <input value="" required type="text" name="spectateLink"
                                                        class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                </div>
                                            </div>
                                            <div class="sm:col-span-3">
                                                <label for="first-name"
                                                    class="block text-sm font-medium leading-6 text-gray-900">Match
                                                    Id</label>
                                                <div class="mt-2">
                                                    <input value="" required type="text" name="matchId"
                                                        class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                </div>
                                            </div>

                                            <div class="sm:col-span-3">
                                                <label for="last-name"
                                                    class="block text-sm font-medium leading-6 text-gray-900">Match
                                                    Password</label>
                                                <div class="mt-2">
                                                    <input value="" required type="text" name="matchPass"
                                                        class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-6 flex items-center justify-end gap-x-6">
                                    <a href="/" class="text-sm font-semibold leading-6 text-gray-900">Back</a>
                                    <button type="submit"
                                        class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
                                </div>
                            </form>

                        </main>
                </div>
            </body>

            </html>